# Ignore all src directories except private and files with a dot
odoo/auto
odoo/custom/src/*
!odoo/custom/src/private
!odoo/custom/src/*.*

#Ignorar ficheros generados por autoupdate
checksums_changed.txt
client_users.txt


# Compiled formats, cache, temporary files, git garbage
**.~
**.mo
**.py[co]
**.egg-info
**.orig
**.DS_Store

# Editor garbage folders
.vscode
